body {
background-color: #d1d3c2cb;    
}

#titulo {
    text-align: center;
    color: blue;
    font-size: 48px;
}

.texto {
    text-align: center;
    color:green;
    font-size: 32px;
}

.img{
    margin: auto;
    display: block;
}