body {
background-color: #ffc0ffCB;    
}

#titulo {
    text-align: center;
    color: blue;
    font-size: 48px;
}
.texto {
    text-align: center;
    color:green;
    font-size: 32px;
}